.Rproj.user
.Rhistory
.RData
.Ruserdata

admixture_validation/finemap/
admixture_validation/msprime_data/
admixture_validation/snptest
admixture_validation/hapgen2/

coalescent_coverage/cluster_logs/
coalescent_coverage/inference_results/
coalescent_coverage/prior_draws/cluster_logs/
coalescent_coverage/prior_draws/msprime_data/
coalescent_coverage/prior_draws/results/
coalescent_coverage/prior_draws/prior_draw_analysis_panels/
coalescent_coverage/.snakemake/
coalescent_coverage/prior_draws/.snakemake/

conditional_ld/cluster_logs/
conditional_ld/msprime/
conditional_ld/results/
conditional_ld/pop_split_msprime/
conditional_ld/pop_split_results/
conditional_ld/.snakemake/

finemapping/cluster_logs/
finemapping/pop_split/finemap/
finemapping/pop_split/hapgen2/
finemapping/pop_split/msprime/
finemapping/pop_split/results/
finemapping/pop_split/snptest/
finemapping/pop_split/sumstat_imputation/
finemapping/.snakemake/

ld_inference/cluster_logs/
ld_inference/data/
ld_inference/figures/
ld_inference/InferLD/
ld_inference/results/
ld_inference/sample_pops/
ld_inference/temp/
ld_inference/.snakemake/
ld_inference/panels/

mle_estimator/cluster_logs/
mle_estimator/mle_results/
mle_estimator/msprime_data/
mle_estimator/ooa_mle_results/
mle_estimator/ooa_msprime_data/
mle_estimator/sample_pops/
mle_estimator/ukbb_mle_results/
mle_estimator/.snakemake/

three_way_admixture/cluster_logs/
three_way_admixture/distribution_ld_results/
three_way_admixture/finemap/
three_way_admixture/finemap_distributions/
three_way_admixture/hapgen2/
three_way_admixture/msprime_data/
three_way_admixture/results/
three_way_admixture/snptest/
three_way_admixture/weight_inference_results/
three_way_admixture/.snakemake/

